<div class="container mt-4">
  <div class="col-md-6 mb-4 mx-auto text-center">
    <h4>Olá, <%= current_user.email %></h4>
    <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-info" %>
  </div>
  <div class="col-md-6 mb-4 mx-auto text-center">
      <h3> Cadastro de produtos </h3>
  </div>
  <%= render 'form' %>
</div>

  

 